# Ignore build artifacts
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
Debug/
Release/
x64/

# Ignore Visual Studio files
*.suo
*.user
*.vcxproj.user
*.ipch
*.opensdf
*.log

# Visual Studio workspace
.vs/

# Backup & temporary files
*.bak
*.tmp
*.ncb
*.~*
